apiVersion: v1
kind: ServiceAccount
metadata:
  name: kube-restarter
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kube-restarter
rules:
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch", "delete"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kube-restarter
subjects:
  - kind: ServiceAccount
    name: kube-restarter
    namespace: kube-system
roleRef:
  kind: ClusterRole
  name: kube-restarter
  apiGroup: rbac.authorization.k8s.io
